<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <add name="AirDbContext" connectionString="server=.;database=Airport;trusted_connection=true"
         providerName="sqlserver"/>
  </connectionStrings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:2112/AirportService.AirportService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirportService"
        contract="AirportService.IAirportService" name="BasicHttpBinding_IAirportService" />
    </client>
    <services>
      <service name="AirportService.AirportService" behaviorConfiguration="mexBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2112"/>
          </baseAddresses>
        </host>
        <endpoint address="AirportService.AirportService"
                  binding="basicHttpBinding"
                  contract="AirportService.IAirportService"/>
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"/>
        <!--      <identity>
            <dns value="localhost"/>
          </identity>    -->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="True"/>

          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IAirportService" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
